.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

:root {
  --primary-color: rgb(116, 85, 0);
  --light-gray: rgb(17, 12, 12);
  --text-color: rgb(16, 42, 82);
  --border: rgb(7, 20, 39);
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

.primary-color {
  color: var(--primary-color);
}

.text-color {
  color: var(--text-color);
}

.font-roboto {
  font-family: var(--roboto);
}

.lightblue {
  color: lightblue;
}

header {
  font-family: var(--roboto);
}
.HomeCart{
  background-color: azure;
}