.NotFound {
    padding-top: 100px;
    background-image: linear-gradient(150deg, #828586, #96968e);
    margin: 0 auto;
    border-radius: 10px;
    border-color: black;
    max-width: 320px;
}

h3 {
    color: blanchedalmond;
}